

input[type=text], select, textarea{
  width: 65%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 12px;
  box-sizing: border-box;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4863A0;
  color: white;
  padding: 30px 150px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  float: right content;
}

.container {
  border-radius: 5px;
  background-color: ;
  padding: 20px;
}


.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}