#login {
   float: left;
   /*other style you may need*/
}


#login {
   position: absolute;
   top: 550px; /*adjust to fit your needs*/
  left: 340px; /*adjust to fit your needs*/
   
}
		form{

			font-family: Times;
			width: 400px;
			padding: 10px;
		}

		input{
			margin-top: 10px;
			display: block;
		}
		hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
.body{
background: #B6B6B4;
margin top:500px;
padding: 0px;
box-sizing: border-box;
}



.registerbtn {
  background-color: red;
  color: white;
  padding: 10px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.resetbtn {
  background-color: red;
  color: white;
  padding: 10px 5px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;
}

.resetbtn:hover {
  opacity: 1;
}
.footer{
position: static;
left: 0;
bottom: 0;
width: 100%;
background-color: transparent;
color: black;
text-align: center;
font-size: 120%;
}
