body { background-color:#B6B6B4;}
* {box-sizing: border-box;}
.input-container {
  display:  flexbox; /* IE10 */
  display: flex;
  width: 500px;
  margin-left:20px; 
  margin-bottom: 10px;
}
.container{
      width:350px;
      height: 250px;
      margin-left:500px; 
      margin-top:20px; 
      background-color:white;
      border-radius: 5px;
      
    }
    h2
    {
      margin-left:50px; 
    
    }
.icon {
  padding: 15px;
  background: #2B547E;
  color: black;
  min-width: 50px;
  text-align: center;
}
.input-field {
  width: 50%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 2px solid dodgerblue;
}
.btn {
  background-color: dodgerblue;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  width: 60%;
  margin-left: 15px;
  opacity: 0.9;
}
input[type=button]:hover
{
			
     border:1px solid dodgerblue;
     background-color: dodgerblue;
     color: white;
     box-shadow: 1px 1px 4px dodgerblue;
}

.btn:hover {
  opacity: 1;
}
.footer {
   position: static;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: transparent;
   color:black;
   text-align: center;
   
}
.link2{
  text-decoration: none;
  color: black;
}
@media screen and (max-width: 900px) {
  .container{
  margin-left:300px; 
   margin-top:20px; 
  }
}

@media screen and (max-width: 700px) {
  .container{
  margin-left:20px; 
   margin-top:20px; 
  }
  }
  
  @media screen and (max-width: 320px) {
  .container{
  margin-left:4px; 
   margin-top:20px; 
  }
  
  }

