.title1{
	color:#0041C2;
	text-align: center;
	font-size: 500%;
	font-family:Courier;
}
body{
	background:#B6B6B4;
}
.ttable{
	font-family:Papyrus;
	color: #5C5858;
}
.img1{
	width: 100%;
	height: 50%;
}