body{
	background:#B6B6B4;
}
.img1{
	width: 100%;
	height: 25%;
}
.title1{
	font-family:Centaur;
	font-size: 325%; 
	font-weight: bold;
}
.para1{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	clear: right;
	font-size: 120%;
	font-family: "Ink Free";
}
.title2{
	text-align: left;
	font-family:Centaur;
	font-size: 300%; 
}
.list1{
	font-size: 150%;
	font-family: "Ink Free";
	font-weight: bold;
}
.list2{
	font-size: 120%;
	font-family: "Candara Light";
	font-weight: bold;
}
}
@media screen and (min-width: 768px){
	.img1{
	width: 100%;
	height: 30%;
	padding-bottom: 30px;

}
.title1{
	font-family:Centaur;
	font-size: 325%;
	font-weight: bold;
}
.para1{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 120%;
	font-family: "Ink Free";
}
.para1{
	
	font-size: 150%;font-family: "Ink Free";
}
}
@media screen and (min-width: 1000px){
	.img1{
	width: 60%;
	height: 65%;
	float: left;
	padding-right: 20px;
}
.title1{
	font-family:Centaur;
	font-size: 350%;
	font-weight: bold; 
}
.para1{
	margin-left: 10px;
	margin-right: 10px;
	padding-left: 20px;
	padding-right: 20px;
	clear: right;
	font-size: 140%;
	font-family: "Ink Free";
	font-weight: bold;
}
}